body{
    background-color: rgb(128, 200, 246);
}

.sim{
    width: 300px;
    margin: 50px auto;
    padding: 20px;
    border-radius: 10px;
    background: white;
    box-shadow: 0 4px 10px rgba(20, 19, 19);
    text-align: center;
}

button{
    margin: 5px;
    padding: 10px;
    cursor: pointer;
}